body {
    padding: none;
}

.nav {
    position: fixed;
    height: 75px;
}

.nav, p {
    text-align: center;
    color: #a5a7aa;
    display: inline-block;
}

.search {
    border: 0.5px solid #b8babc;
    width: 150px;
    height: 25px;
    background: #fff;
}

.main {
    position: relative;
    top: 75px;
    height: 800px;
    background: #fafafa;
}

.content {
    
}



#circle {
	width: 152px;
	height: 152px;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    
    border:0.25px solid #c9c8cd;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

#square {
	width: 293px;
	height: 293px;
	background: #fff;
}

#magnifying-glass
{
 font-size: 15px; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid #a5a7aa;
 position: relative;
 border-radius: 0.35em;
}
#magnifying-glass::before
{
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: #a5a7aa;
 width: 0.4em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}