body {
    background: url(images/glitchBG.jpg);
}

h1 {
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
}

h2 {
    color: #00F2FF;
    font-family: "Helvetica", sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 40px;
}

p {
    color: #BB35E8;
    text-indent: 30px;
    padding: 3px 3px 3px 0px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.title.outset {
    border-style: outset;
}

.title {
    background-color: #FFF;
}

.title p{
    color: #000;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    font-weight: 100;
    padding: 5px 12px 15px 15px;
    font-size: 16px;
}

.step1 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step2 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step3 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step4 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step5 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step6 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step7 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step8 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}

.step9 {
    background-color: #FFF;
    column-count: 2;
    column-gap: 50px;
    padding: 20px 25px 20px 25px; /*top right bottom left*/
}