/* body {
    background: url(images/glitchBG.jpg);
}

h1 {
}

ul {
}

li {
    
}

h2 {
    color: #FDCFF3;
}

p {
    color: #623CEA;
} */

h1 {
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    background-color: aqua;
}

ul {}

li {
    list-style: none;
}