body {
    background: url(images/glitchBG.jpg);
}

h1 {
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
}

ul {}

li {
    list-style: none;
}

h2 {
    color: #FDCFF3;
}

p {
    color: #623CEA;
}